@section Styles {
<style>
      .main-container{
         display:flex;
         width: 100%;
         justify-content: center;
      }

      .message{
         display: flex;
         flex-direction: column;
         align-content: center;
      }

      h1{
         font-size: 70px;
         font-weight: bold;
      }

      p{
         font-size: 27px;
      }
</style>
}

@{
   ViewData["Title"] = "Acesso negado";
}

<div class="main-container">

   <div class="message">
      <h1>403</h1>
      <p>forbidden</p>
      <div>
         <button type="button" class="btn-secondary rounded-pill border-0 w-100" onclick="history.back()" >Voltar</button>
      </div>
   </div>
    
</div>


