@using System.Text.Json
@using System.Text.Encodings.Web
@using WebApplicationMVC.Models.request
@using WebApplicationMVC.data
@model UpdateUserModel
@{
   ViewData["Title"] = $"Atualizando {@Model?.UserName}";
}

<div class="container mt-5">
   <h2 class="text-center mb-4">Atualizando @Model?.UserName</h2>

   <form method="post" asp-route="/account/UpdateUserProfile" class="mx-auto" style="max-width: 500px;">

      <div class="mb-3">
         <label asp-for="UserName" class="form-label">Nome de usuário</label>
         <input asp-for="UserName" class="form-control" />
         <span asp-validation-for="UserName" class="text-danger"></span>
      </div>

      <div class="mb-3">
         <label asp-for="Email" class="form-label">Email</label>
         <input asp-for="Email" class="form-control" />
         <span asp-validation-for="Email" class="text-danger"></span>
      </div>

      <div class="mb-3">
         <label asp-for="CreatedAt" class="form-label">Data de criação de conta</label>
         <input asp-for="CreatedAt" type="datetime-local" class="form-control" readonly />
         <span asp-validation-for="CreatedAt" class="text-danger"></span>
      </div>


      <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
   </form>
</div>


@section Scripts {
   <partial name="_ValidationScriptsPartial" />


}
