@using WebApplicationMVC.Models.request
@model UpdateUserPasswordModel
@{
   ViewData["Title"] = "Alterar senha";
}

@section Styles {
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}


<div class="container mt-5">
      <div class="card-body">

         <div style="max-width: 500px;" class="container-fluid d-flex p-0 justify-content-between align-items-center">
            <a href="/account/userprofile">
               <i style="font-size:2rem;color:#0d6efd" class="bi bi-arrow-left"></i>
            </a>

            <h2 class="text-center card-title ">Alterar senha </h2>

            <span></span>
         </div>      
 
         <br /><br />

         <form method="post" asp-route="/account/updatePassword" class="mx-auto" style="max-width: 500px;">

            <div class="mb-3 position-relative">
               <label asp-for="OldPassword" class="form-label">Senha anterior</label>
               <input asp-for="OldPassword" type="text" class="form-control" />
               <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
               <label asp-for="NewPassword" class="form-label">Nova senha</label>
               <input asp-for="NewPassword" type="text" class="form-control" />
               <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary w-100">Atualizar senha</button>
         </form>

         <br /><br />

      </div>

</div>