@using System.Text.Json
@using System.Text.Encodings.Web
@using WebApplicationMVC.Models.request
@using WebApplicationMVC.data
@model UpdateUserModel
@{
   ViewData["Title"] = $"Atualizando {@Model?.UserName}";
}

@section Styles{
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

<div class="container mt-5">

   <div style="max-width: 500px;" class="container-fluid d-flex p-0 justify-content-between align-items-center">
      <a href="/account/userprofile">
         <i style="font-size:2rem;color:#0d6efd" class="bi bi-arrow-left"></i>
      </a>

      <h2>Atualizando @Model?.UserName</h2>

      <span></span>
   </div>
   <br />

   <form method="post" asp-route="/account/UpdateUserProfile" class="mx-auto" style="max-width: 500px;">

      <div class="mb-3">
         <label asp-for="UserName" class="form-label">Nome de usuário</label>
         <input asp-for="UserName" class="form-control" />
         <span asp-validation-for="UserName" class="text-danger"></span>
      </div>

      <div class="mb-3">
         <label asp-for="Email" class="form-label">Email</label>
         <input asp-for="Email" class="form-control" />
         <span asp-validation-for="Email" class="text-danger"></span>
      </div>

      <div class="mb-3">
         <label asp-for="CreatedAt" class="form-label">Data de criação de conta</label>
         <input asp-for="CreatedAt" type="datetime-local" class="form-control" readonly />
         <span asp-validation-for="CreatedAt" class="text-danger"></span>
      </div>


      <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
   </form>
</div>


@section Scripts {
   <partial name="_ValidationScriptsPartial" />


}
