@using WebApplicationMVC.Models.request
@model UpdateUserPasswordModel
@{
   ViewData["Title"] = "Alterar senha";
}


<div class="container mt-5">
   <div class="card shadow-sm">
      <div class="card-body">
         <h2 class="card-title text-primary">Alterar senha </h2>
         <hr />
         <br /><br />

         <form method="post" asp-route="/account/updatePassword" class="mx-auto" style="max-width: 500px;">

            <div class="mb-3 position-relative">
               <label asp-for="OldPassword" class="form-label">Senha anterior</label>
               <input asp-for="OldPassword" type="text" class="form-control" />
               <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
               <label asp-for="NewPassword" class="form-label">Nova senha</label>
               <input asp-for="NewPassword" type="text" class="form-control" />
               <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary w-100">Atualizar senha</button>
         </form>

         <br /><br />

      </div>
   </div>
</div>